

<% content_for :content do %>
  <h1>タスク一覧</h1>

  <% @tasks.each do |task| %>
    <div>
      <h3><%= task.title %></h3>
      <p><%= task.description %></p>
      <p>優先度: <%= task.priority %></p>
      <p>期限: <%= task.due_date %></p>
      <%= link_to "詳細", task_path(task) %>
    </div>
  <% end %>

  <%= link_to "新しいタスク作成", new_task_path %>
<% end %>

<%= render template: "layouts/application" %>