<% content_for :content do %>
  <h1>タスク一覧</h1>

  <div class="calendar">
    <div class="calendar-navigation">
      <%= link_to "<< 前の月", tasks_path(year: @prev_month.year, month: @prev_month.month), class: "calendar-navigation-link" %>
      <%= link_to "次の月 >>", tasks_path(year: @next_month.year, month: @next_month.month), class: "calendar-navigation-link" %>
      <h2><%= @current_month.strftime("%Y年%m月") %></h2>
      <%= form_tag tasks_path, method: :get, id: "month-select-form" do %>
        <%= select_month(@current_month, {use_two_digit_numbers: true}, {name: "month", id: "month-select"}) %>
        <%= submit_tag "移動" %>
      <% end %>
    </div>

    <% @tasks.group_by { |task| task.due_date.beginning_of_month }.sort.each do |month, tasks| %>
    <% if month == @current_month.beginning_of_month %>
      <div class="month-column active">
    <% else %>
      <div class="month-column">
    <% end %>
      <% tasks.each do |task| %>
        <% if task.due_date.beginning_of_month == month %>
          <div class="card">
            <div class="card-body">
              <p class="card-text"><strong>期限:</strong> <%= task.due_date.strftime('%Y年%m月%d日') %>（<%= (task.due_date - Date.today).to_i %>日後）</p>
              <h5 class="card-title"><%= link_to task.title, task_path(task) %></h5>
              <p class="card-text"><%= task.description %></p>
              <p>優先度: <%= task.priority %></p>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @tasks.empty? %>
    <p>タスクはありません</p>
  <% end %>
  </div>

  <%= link_to "新しいタスク作成", new_task_path %>
<% end %>

<%= render template: "layouts/application" %>
