<h1>プロジェクト編集</h1>

<%= form_with(model: @project, url: project_path(@project), method: :patch) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div>
    <%= form.submit '更新する' %>
  </div>
<% end %>
